h1
{
  font-style: normal;
  font-weight: bolder;
  color: orange;
  text-align: center;
}
img
{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center
{
  text-align: left;
  font-family: sans-serif;
}
dt
{
  font-weight: bold;
  font-style: italic;
}
}
dl
{
  column-count: 3;
  column-fill: auto;
  column-gap: normal;
}
